<div layout="column" layout-align="center center" fill-height>
    <div layout="row" layout-align="center center">
        <div class="xl-icon-button circle" ng-click="vm.switchAdminPanel('invite')">
            <i class="material-icons font-accent">group_add</i>
            <span>Invite users</span>
        </div>
        <div class="xl-icon-button circle" ng-click="vm.switchAdminPanel('share')">
            <i class="material-icons font-accent fs-100">share</i>
            <span>Share apps</span>
        </div>
        <div class="xl-icon-button circle" ng-click="vm.switchAdminPanel('invitations')">
            <i class="material-icons font-accent">recent_actors</i>
            <span>My invitations</span>
        </div>
    </div>
</div>

