<!-- SIDENAV HEADER -->
<div class="header" layout="column" layout-align="space-between start">

    <div class="logo" layout="row" layout-align="start center">
        <span class="logo-icon">
            <img src="app/core/app_icons/useradmin_app_icon.png" alt=""/>
        </span>
        <span class="logo-text">User Admin</span>
    </div>

    <!-- <div class="account">
        <div class="title">John Doe</div>
        <md-select class="account-selection simplified" placeholder="Mail Selection"
                   ng-model="vm.selectedAccount">
            <md-option ng-repeat="(provider, address) in vm.accounts" value="{{provider}}">{{address}}
            </md-option>
        </md-select>
    </div> -->

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<md-content ms-scroll class="content" flex>

    <!--<div class="compose-button">-->
        <!--<md-button class="md-accent md-raised" aria-label="compose"-->
                   <!--ng-click="vm.addInvoice()">{{vm.pageTitle}}-->
        <!--</md-button>-->
    <!--</div>-->

    <div class="navigation-simple" layout="column">
        <md-button class="item" aria-label="inbox" ng-click="vm.appInnerState='add'">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-account-multiple" class="s16"></md-icon>
                <span class="title">Users</span>
            </div>
        </md-button>

        <md-button class="item" aria-label="starred" ng-click="vm.appInnerState='default'">
            <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-share" class="s16"></md-icon>
                <span class="title" flex>Share Applications</span>
            </div>
        </md-button>

    </div>

</md-content>
<!-- / SIDENAV CONTENT -->
